ul > #Color_Text_ex {
    color: red;
}

ul > #Color_value_ex1 {
    color: rgba(255, 0, 0, 0.7);
}

ul > #Color_value_ex2 {
    color: rgba(100%, 0%, 0%, 0.7);
}

ul > #Color_value_ex3 {
    color: #FF0000;
}

ul > #Color_Opacity_ex1 {
    opacity: 0.7;
}

ul > #Color_Opacity_ex2 {
    opacity: 0.3;
}

ul > #Color_Opacity_ex3 {
    opacity: 0.7;
}

ul > #Color_Opacity_ex4 {
    opacity: 0.3;
}

#font_size_ex1 {
    font-size: 18px;
}

#font_size_ex2 {
    font-size: 18pt;
}

#font_size_ex3 {
    font-size: 2cm;
}

#font_size_ex4 {
    font-size: 1.8em;
}

#font_size_ex5 {
    font-size: medium;
}

#font_size_ex6 {
    font-size: x-small;
}

#font_size_ex7 {
    font-size: x-large;
}

#font_size_ex8 {
    font-size: 200%;
}

#font_size_ex9 {
    font-size: x-small;
}

#font_size_ex10 {
    font-size: x-large;
}
